// Custom styles.
//body {   
//	background:url(/images/HighSierra.jpg);
//	background-size:cover;
//	background-repeat:no-repeat;
//	background-attachment:fixed;
//	background-position:center;
//}
//.post-body p a {
//  color: #0593d3;
//  border-bottom: none;
//  &:hover {
//    color: #0477ab;
//    text-decoration: underline;
//  }
//}

//.footer-inner { color: #FFFFFF; }
